<div class="section">
	<div class="container">
		<h2 class="title">Get Comments</h2>
		
		<cfset wrikeComments = CreateObject("api.comment") />
		<cfset allComments = wrikeComments.get() />
		
		<cfdump var="#allComments#" />
	</div>
</div>
<div class="section">
	<div class="container">
		<h2 class="title">Get Comments By Account ID: blabla</h2>
		

		<cfset commentsByAccount = wrikeComments.get("blabla") />
		<cfdump var="#commentsByAccount#" />
	</div>
</div>