<div class="section">
	<div class="container">
		<h2 class="title">Get MY Timelogs</h2>
		
		<cfset wrikeTimelogs = CreateObject("api.timelog") />
		<cfset allTimelogs = wrikeTimelogs.get(me = true) />
		
		<cfdump var="#allTimelogs#" />
	</div>
</div>
<div class="section">
	<div class="container">
		<h2 class="title">Get Timelogs By Folder</h2>
		
		<cfset allTimelogs = wrikeTimelogs.getByFolder("folder_id_here") />
		
		<cfdump var="#allTimelogs#" />
	</div>
</div>